<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #280303;">
   <div  id="navbarNav">
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="/welcome">Acceuil</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/topic">Thème</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/country">Pays</a></li>
         
            <li class="nav-item"><a class="nav-link" routerLink="/persons">Personnes</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/histories">Histoires</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/resources">Resources</a></li>
        </ul>
    </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>